title AirCleaner CMS - JupiterFlow
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(charset='utf-8')
meta(property='og:type' content='website')
meta(property='og:title' content='AirCleaner CMS - JupiterFlow')
meta(property='og:url' content='https://genie.jupiterflow.com')
meta(property='og:site_name' content='AirCleaner CMS - JupiterFlow')
meta(property='og:description' content='[제 1회 YNC 메이커톤] 미세먼지 감지와 공기청정 기능을 가진 무드등 및 CMS')
meta(property='og:locale' content='ko_KR')
meta(property='og:image' content='/static/images/jupiter.png')

link(rel='icon' href='/static/images/jupiter.png')
link(href='/static/style/normalize.css' rel='stylesheet' type='text/css')
script(src='/static/vendor/jquery/jquery-3.4.1.min.js')
