html(lang='ko')
    head
        include head.pug
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
        link(href='/static/style/index.css' rel='stylesheet' type='text/css')
        script(src='/static/vendor/jquery/jquery.validate.min.js')
        script(src='/static/js/index.js')
    body
        div(id='floater')
        div(class='logo')
            a(href='/')
                span(class='highlight') J
                | upiter
                span(class='highlight') F
                | low
        div(class='form')

            form(class='signin-form')
                h1 SignIn
                input(type='text' value='' placeholder='username' name='username')
                input(type='password' value='' placeholder='Password' name='password')
                button(type='submit') Singin
                p(class='message')
                    | Don't have an account?
                    a(href='#')  SignUp

            form(class='signup-form')
                h1 SignUp
                input(type='text' value='' placeholder='username' name='username')
                input(type='email' value='' placeholder='Email' name='email')
                input(type='password' value='' placeholder='Password' name='password')
                input(type='password' value='' placeholder='Password-Confirm' name='password_confirm')
                input(type='text' value='' placeholder='Device ID' name='device')
                button(type='submit') Signup
                p(class='message')
                    | Already have an account?
                    a(href='#')  SignIn