html
    head
        include head.pug
        script(src='/static/vendor/chartjs/Chart.min.js')
        script(src='/static/js/view.js')
    body
        p
            | hello,
            = username

        a(href='/authentication/signout') signout

        div(style={width: '75%', margin: '0 auto'})
            canvas(id='myChart')