html(lang='ko')
    head
        include head.pug
        script(src='/static/vendor/chartjs/Chart.min.js')
        script(src='/static/js/view.js')
        link(href='/static/style/font-awesome.min.css' rel='stylesheet' type='text/css')
        link(href='/static/style/milligram.css' rel='stylesheet' type='text/css')
        link(href='/static/style/view.css' rel='stylesheet' type='text/css')
        link(href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/railscasts.min.css' rel='stylesheet')
        script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js')
        script.
            hljs.initHighlightingOnLoad()
    body
        .navbar
            .row
                .column.col-site-title
                    a.site-title.float-left(href='/') Genie-YNC
                .column.col-search
                    a.search-btn.fa.fa-search(href='#')
                    input(type='text' name='' value='' placeholder='Search...')
                .column
                    .user-section
                        a(href='/authentication/signout')
                            img.circle.float-left.profile-photo(src='/static/images/jupiter.png' alt='profile photo' width='50' height='auto')
                            .username
                                h4= username
                                p Administrator
        .row
            #sidebar.column
                h5 Navigation
                ul
                    li
                        a(href='#')
                            em.fa.fa-home
                            |  Home
                    li
                        a(href='#charts')
                            em.fa.fa-bar-chart
                            |  Charts
                    li
                        a(href='#API')
                            em.fa.fa.fa-clone
                            |  API
            section#main-content.column.column-offset-20
                .row.grid-responsive
                    .column.page-heading
                        .large-card
                            h1 Update account settings
                            p.text-large
                                | You can change settings for your account on this section.
                            p
                                | Please press the button below to continue.
                                em (if you want.)
                            span.button#settingBtn Setting-OPEN
                            .setting-form.nanumgothic
                                form
                                    p
                                        | 새로고침 딜레이
                                        input(type='number' placeholder='delaySync' value='' name='delaySync')
                                    p
                                        | LED 모드
                                        select(name='modeLED' style='padding: 0 20px 0 20px; font-size:14px')
                                            option(value=0) 평균
                                            option(value=1) 미세먼지
                                            option(value=2) 초미세먼지
                                            option(value=3) 극미세먼지
                                    p
                                        | 작동 설정
                                        span.button.powerMode 전원 ON
                                    p
                                        span.button.settingSave 저장
                // Charts
                h5 Charts
                a.anchor(name='charts')
                .row.grid-responsive
                    .column.column-100
                        .card
                            .card-title
                                h2 Line Chart
                            .card-block
                                .canvas-wrapper
                                    canvas#myChart(height='261' width='auto')
                .row.grid-responsive.pm_section.nanumgothic
                    .column.column-33
                        .card
                            .card-title
                                .pm_step 미세먼지
                            .card-block
                                .step-img
                                .pm_step.pm10_0_step &nbsp;
                    .column.column-33
                        .card
                            .card-title
                                .pm_step 초미세먼지
                            .card-block
                                .step-img
                                .pm_step.pm2_5_step &nbsp;
                    .column.column-33
                        .card
                            .card-title
                                .pm_step 극미세먼지
                            .card-block
                                .step-img
                                .pm_step.pm1_0_step &nbsp;
                // Widgets
                h5.mt-2 API
                a.anchor(name='API')
                .row.grid-responsive.mt-1.api-widget
                    .column
                        .card
                            .card-title
                                h2.float-left Widgets
                                .clearfix
                            .card-block
                                p Base Url
                                input(type='text' id='scriptSrc' value='<script src="https://genie.jupiterflow.com/static/pagebanner/pagebanner.js"></script>' readonly=true)
                                p Usage
                                pre
                                    code.javascript
                                p Parameters
                                table
                                    thead
                                        tr
                                            td Name
                                            td Description
                                    tbody
                                        tr
                                            td device
                                            td 조회할 디바이스의 고유번호
                                        tr
                                            td type
                                            td 조회할 미세먼지 종류 => pm10_0 | pm2_5 | pm1_0
                                        tr
                                            td targetSelector
                                            td jQuery Element Selector => .pm100 | #pm100 | ...

                // Widgets
                //h5.mt-2 Widgets
                //a.anchor(name='widgets')
                //.row.grid-responsive.mt-1
                //    .column
                //        .card
                //            .card-title
                //                h2.float-left Projects
                //                .badge.float-right 3 In Progress
                //                .badge.background-success.float-right.mr-1 16 Complete
                //                .clearfix
                //            .card-block.progress-bars
                //                h5.float-left.mt-1 Web(Node.JS)
                //                p.float-right.text-small.text-muted.mt-1 95%
                //                .clearfix
                //                .progress-bar
                //                    .progress.background-primary(style='width: 95%;')
                //                h5.float-left.mt-1 DataBase
                //                p.float-right.text-small.text-muted.mt-1 95%
                //                .clearfix
                //                .progress-bar
                //                    .progress.background-primary(style='width: 95%;')
                //                h5.float-left.mt-1 Hardware
                //                p.float-right.text-small.text-muted.mt-1 85%
                //                .clearfix
                //                .progress-bar
                //                    .progress.background-primary(style='width: 85%;')
                //                h5.float-left.mt-1 Document
                //                p.float-right.text-small.text-muted.mt-1 20%
                //                .clearfix
                //                .progress-bar
                //                    .progress.background-primary(style='width: 20%;')

                p.credit
                    | Smart Air Cleaner CMS - GENIE by&nbsp;
                    a(href='https://https://genie.jupiterflow.com') JupiterFlow
